body { 
    background: #FFF1D6;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height:1.6;

}
h1 a{
    font-size: 1.8em;
    color: #7E9F19;
    text-decoration: none;
}
h1 a:hover{
    background-color: #7E9F19;
    color:#FFF;
}

.container { 
    margin: 0 auto; 
    width: 960px;
}
.lugar {
    background-color: #FFF;
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 10px;
}
.lugar h2{
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}
.lugar a{
    color: #2C88A7;
    font-weight: bold;
}
